# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
projects/        # your venv folder

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Model artifacts
*.joblib
*.pkl
*.h5
*.pt
*.onnx

# Dataset files (optional - keep data folders clean)
data/
*.csv

# Hidden environment files
.env
.venv
ENV/
env/
venv/
